<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500;1,800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class:"navbar-brand" do %>
          <%=icon('fa-solid', 'user-secret', class: "fa-7x, fa-shake")%>
          SaaS
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %> </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
      <%= yield %>
  </body>
</html>
